<h2>Secret Page!!!</h2>

<li>
    <a href="/">Home</a>
</li>
<li>
    <a href="/register">Sign Up</a>
</li>
<li>
    <a href="/login">Log in</a>
</li>
<li>
    <a href="/logout">Log out</a>
</li>

<img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Frlv.zcache.com%2Fshhh_its_asurprise_classic_round_sticker-r903c59abc7d14309a5d9cb83760daf83_v9waf_8byvr_630.jpg%3Fview_padding%3D%5B285%2C0%2C285%2C0%5D&f=1">